body>footer {
    text-align: center;
    padding-top: 21px;
}

code {
    color: #2d6987;
    background-color: #f1f5f9;
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
}

#cpu-img {
	position: fixed;
	top: 25%;
}

.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}

.div1 {
  background: #999;
  float: left;
  height: 100%;
  width: auto;
}

.div2 {
  background: #666;
  float: right;
  height: 100%;
  width: auto;
}
