{% extends 'base.html' %}

{% block full_title %}Simon{% endblock %}

{% block content %}
  <div class="row"><div class="col-md-12">
    <h2 class="page-header">{% block title %}API | Documentation{% endblock %}</h2>
    <p>
      The API entrypoint is <a href="{{ url_for('index') }}">https://polar-mesa-55692.herokuapp.com/</a></br>
      You can explore the format of the responses using curl command utility or by pressing the scope of each method below.
    </p>

    <h3>Simulations</h3>    
    <table class="table table-responsive table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Scope</th>
          <th>Semantics</th>
          <th>Authentication</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GET</td>
          <td>/jobs</td>
          <td>retrieve a user's simulations</td>
          <td>OAuth 2</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/jobs/:id</td>
          <td>retrieve a single job</td>
          <td>OAuth 2</td>
        </tr>
        <tr>
          <td>POST</td>
          <td>/jobs</td>
          <td>create a new job</td>
          <td>OAuth 2</td>
        </tr>
        <tr>
          <td>PUT</td>
          <td>/jobs/:id</td>
          <td>update an existing job</td>
          <td>OAuth 2</td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td>/jobs/:id</td>
          <td>delete and cancel a simulation</td>
          <td>OAuth 2</td>
        </tr>
      </tbody>
    </table>

    <h3>Simulation results</h3>    
    <table class="table table-responsive table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Scope</th>
          <th>Semantics</th>
          <th>Authentication</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GET</td>
          <td>/results</td>
          <td>retrieve a user's results</td>
          <td>OAuth 2</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/results/:id</td>
          <td>retrieve a single simulation result</td>
          <td>OAuth 2</td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td>/results/:id</td>
          <td>delete a result</td>
          <td>OAuth 2</td>
        </tr>
      </tbody>
    </table>

<h3>Public results</h3>    
    <table class="table table-responsive table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th>Method</th>
          <th>Scope</th>
          <th>Semantics</th>
          <th>Authentication</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GET</td>
          <td>/public/jobs</td>
          <td>retrieve a publicly-available submitted simulations</td>
          <td>none</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/public/results</td>
          <td>retrieve all publicly-available simulation results</td>
          <td>none</td>
        </tr>
      </tbody>
    </table>

  </div></div>
{% endblock %}