{% extends 'base.html' %}

{% block full_title %}Simon{% endblock %}

{% block content %}
  <div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>Hi there!</h2>
      <p>Welcome to Simon, the best distributed parallel simulator for multicore architectures on the web!</br>You can read about the simulator Graphite this app is built on <a href="http://groups.csail.mit.edu/carbon/docs/graphite_hpca2010_preprint.pdf">here</a></p>
    </div>
  </div>
  </div>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Going live in exactly 1 day! 7th of April 2016.</p>&mdash; SimAsAService (@simasaservice) <a href="https://twitter.com/simasaservice/status/717570659723964417">April 6, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}