{% extends 'base.html' %}

{% block full_title %}Simon{% endblock %}

{% block content %}
	<div class="row"><div class="col-md-3">
        <h2 class="page-header">{% block title %}Log In{% endblock %}</h2>

        <form method="post" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2"></div>
            </div>
            <input type="text" class="form-control" placeholder = "Username" name="username" value="{{request.form.username}}">
            <p></p>
			<input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
			<p></p>
            <div class="form-group"><div class="col-sm-offset-0 col-sm-1">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div></div>
            <div class="col-md-4">
            	<p><font size="5"><strong>or</strong></font></p>
            </div>
        </form>
        <p><br><br></p>
        <h2>
      		<a href="{{ url_for('twitter_login') }}"><img src="{{url_for('static', filename='twitter-sign-in.png') }}" alt="sign in"></a>
            <a href="{{ url_for('google_login') }}"><img src="{{url_for('static', filename='google-sign-in.png') }}" alt="sign in"></a>
            <a href="{{ url_for('facebook_login')}}"><img src="{{url_for('static', filename='facebook-sign-in.png') }}" alt="sign in"></a>
    	</h2>
    </div></div>
{% endblock %}