{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-5">
				<h2 class="page-header">{% block title %}Run Simulation{% endblock %}</h2>
				<form method="post" class="form-horizontal" action="/jobs">
	            	<div class="form-group">
	                	<div class="col-sm-2"></div>
	            	</div>
	            	<label for="nc">Number of Cores:</label>
	            	<input type="text" class="form-control" name="cores" id = "nc" value="{{request.form.cores}}">
	            	<p></p>
	            	<label for="np">Number of Processes:</label>
	            	<input type="text" class="form-control" name="processes" id = "np" value="{{request.form.processes}}">
	            	<p></p>
	            	<label for="mf">Maximum Frequency:</label>
	            	<input type="text" class="form-control" name="maximum_frequency" id = "mf" value="{{request.form.maximum_frequency}}">
	            	<p></p>
	            	<label for="mt">Maximum Temperature:</label>
	            	<input type="text" class="form-control" name="maximum_temperature" id = "mt" value="{{request.form.maximum_temperature}}">
	            	<p></p>
	            	<div class="checkbox">
      					<label><input type="checkbox" name="modeling_core" value="true">Enable Modeling Core</label>
    				</div>
    				<div class="checkbox">
      					<label><input type="checkbox" name="modeling_power" value="true">Enable Modeling Power</label>
    				</div>
    				<div class="checkbox">
      					<label><input type="checkbox" name="modeling_area" value="true">Enable Modeling Area</label>
    				</div>
      				<p></p>
					<div class="form-group">
						<div class="col-sm-offset-0 col-sm-1">
	                		<button type="submit" class="btn btn-primary">Run Simulation</button>
	        			</div>
	        		</div>
    			</form>
		</div>
	</div>
{% endblock %}